<div fxLayout='column'>
        <div class="session-content text-xs-center">
          <div>
            <div class="error-title">Corre!</div>
            <div class="error-subtitle">¡Apunta tus dudas para entrar en la lista de clase!</div>
                <br>
                <button mat-raised-button color="warn" (click)="crearTurno()">Registrar mi duda ya</button>&nbsp;&nbsp;
                <button mat-raised-button color="warn" (click)="redirectTurnos()">Ver lista de turnos</button>
          </div>
        </div>
      </div>